html,body{
	height:100%;
}
.carousel,.item,.active{
	height:100%;
}
.carousel-inner{
	height:100%;
}
.first-slide, .second-slide, .third-slide{
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
}

.carousel-caption{
	padding-bottom: 90px;
}

.carousel_title{
	font-size: 20pt;
}

.title_btn_carousel{
	font-size: 12pt;
	font-color: #fff;
}

#topheader {
    background-color: #4FAFF7;
    height: 50px;
}

#logocontainer{
	background-color: #fff;
    height: 120px;
}

#lunesaires_carousel{
	height: 350;
}

#product_container{
	background-color: #fff;
    height: 380;
}

#about_us{
	background-color: #EAEAEA;
	height: 350;
}

#brands{
	background-color: #fff;
    height: 300;
}

.p{
	padding-top: 40px;
	text-align: center;
	font-size: 18pt;
	color: #4FAFF7;

}

.p1{
	padding-top: 30px;
	text-align: center;
	font-size: 10pt;
	color: #000;
	
}

.p2{
	padding-top: 40px;
	text-align: center;
	font-size: 18pt;
	color: #00008B;

}

.p3{
	padding-top: 30px;
	text-align: center;
	font-size: 10pt;
	color: #000;
	
}

.brands_h1{
	content: center;
	font-size: 17pt;
	font-color: #4FAFF7;
}

#estimate{
	background-color: #4FAFF7;
    height: 90px;
}

#footer{
	background-color: #000C3C;
    height: 420px;
}

